﻿@{    ViewData["Title"] = "Площадь поверхности шарового сегмента";}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>S</title>
</head>
<body>
    <h1>Площадь поверхности шарового сегмента</h1>
    <div>
        <figure>
            <img src="https://cdn.fxyz.ru/img/formulas/sphere_segment_surface_area.png" alt="Результат" />
        </figure>
        <h1>S=2*π*R*h</h1>
        <form action="" method="post">
            <p>Радиус (R)</p>
            <input type="number" name="R" placeholder="Радиус (R)" value="" />
            <br />

            <p>Высота (h)</p>
            <input type="number" name="h" placeholder="Высота (h)" value="" />

            <br />
            
            <button id="button" class="btn-danger">Рассчитать</button> 
            
            <br />

            <p>
                <h3>
                    Результат: @ViewBag.Result
                </h3>
            </p>
        </form>
    </div>

    <style>
        image {
            width: 452px;
            height: 236px;
            position: relative;
            top: 20px;
            bottom: 20px;
            margin-bottom: 10px;
        }

        * {
            text-align: center;
        }

        #button {
            margin-top: 18px;
        }
    </style>
</body>
</html>